*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html{
    font-family: serif;
}

/* header */

header{
 display: flex;
 justify-content: space-around;
 text-align: center;
 border: 2px solid red;
 height: 60px;
}

nav{
   
    line-height: 50px;
}


ul{
    display: flex;
    list-style: none;
}

li a{
    text-decoration: none;
    margin: 0 25px;
    font-size: 20px;
}

header h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    
}

/* fin header */





img{
    width: 100% ;
    height: 100%; 
    border: 1px solid orange;
}

.contenedor{
    width: 80%;
    position:relative;
    height:450px;
    margin: 0 auto;
    border: 1px solid blue;
    position: relative;
}

.botones{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color:#fff;
    box-shadow: 0 0 10px rgba(255, 255, 2555, .6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.botones:hover{
    cursor:pointer;
    transform: scale(1.2,1.2);
}

.atras{
    left:2%;
    top:calc(50% - 40px);
}

.adelante{
    right: 2%;
    top:calc(50% - 40px);
}


/* mediaqueries */


@media (max-width:576px){  /* (max-width:576px) */
.contenedor{
    width: 100%;
    height: 50%;
}

.botones{
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.atras{
    left:2%;
    top:calc(50% - 20px);
}

.adelante{
    right: 2%;
    top:calc(50% - 20px);
}

}



.contenedor_prod{
    width: 80%;
    border:2px solid red;
    height: 700px;
    margin: 0 auto;
    display: flex;
}

.prod{
    font-size: 36px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}


.produc{
    width: 250px;
    height: 300px;
    border: 2px solid green;
    
  
}

.productos{
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.prod_5,
.prod_6,
.prod_7,
.prod_8{
    margin-top: -50px;
}